.Tabs-wrapper {
  width: 96%;
  display: flex;
  flex-direction: column;
  margin: .8em 0;
}
.Tabs-nav {
  margin: 0;
  width: 100%;
  height: 1.8em;
  display: flex;
  list-style: none;
  overflow: hidden;
}
.Tabs-nav>li {
  padding: .2em .5em;
  border-radius: .5em;
}
.Tabs-nav>li.active {
  padding-bottom: 2em;
  background: rgba(0,0,0,0.2);
}
.Tabs-content {
  padding: .5em;
  min-height: 5em;
  text-align: justify;
  border: thick solid rgba(0,0,0,0.2);
  border-radius: .5em;
  margin-bottom: 1em;
}
.Comment-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: .5em;
  gap: .5em;
}
