.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.Link:hover {
  cursor: pointer;
}
.align-center {
  text-align: center;
}